/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .ctt_box_button {
    font-size: 16px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    padding:12px 20px;
    background:#000;
  }
  .ctt_overlay {
	  z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    /* visibility: hidden;
    opacity: 0; */
  }
  .ctt_pop_content iframe {
    width: 525px;
    height: 350px;
    max-width: 90%;
  }
  .ctt_overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .ctt_popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    position: relative;
    transition: all 5s ease-in-out;
    max-width: 600px;
  }
  .ctt_popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .ctt_popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .ctt_popup .close:hover {
    color: #06D85F;
  }
  .ctt_popup .ctt_pop_content {
    max-height: 30%;
    overflow: auto;
  }
  .ctt_overlay{
    display: block;
  }